
// Config -----------------------------------
@syntax-hue:          220;
@syntax-saturation:   13%;
@syntax-brightness:   18%;


// Monochrome -----------------------------------
@mono-1: hsl(@syntax-hue, 14%, 71%); // default text
@mono-2: hsl(@syntax-hue,  9%, 55%);
@mono-3: hsl(@syntax-hue, 10%, 40%);

// Colors -----------------------------------
@hue-1:    hsl(185, 85%, 45%); // <-cyan
@hue-2:    hsl(230, 100%, 70%); // <-blue
@hue-3:    hsl(275, 90%, 65%); // <-purple
@hue-4:    hsl(130, 35%, 65%); // <-green

@hue-5:   hsl(355, 90%, 60%); // <-red 1
@hue-5-2: hsl(  10, 80%, 50%); // <-red 2

@hue-6:    hsl( 20, 90%, 70%); // <-orange 1
@hue-6-2: hsl( 40, 90%,75%); // <-orange 2

// Base colors -----------------------------------
@syntax-fg:     @mono-1;
@syntax-bg:     hsl(@syntax-hue, @syntax-saturation, @syntax-brightness);
@syntax-gutter: darken(@syntax-fg, 26%);
@syntax-guide:  fade(@syntax-fg, 15%);
@syntax-accent: hsl(@syntax-hue, 100%, 66% );
